* { box-sizing: border-box; }
body{
	font-family: 'Open Sans', sans-serif;
}
/* grid 960px */
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0px;
}
.coluna{
	padding: 0px 10px;
	float: left;
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}
/* Estilos reutilizaveis*/
.header{
	background: #2C3E50;
	padding: 45px 0px 45px 0px;
	text-align: center;
}
h1{
	color: #ebebeb;
	font-size: 42px;
}
.login-form{
	width: 380px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	font-weight: bold;
}
.ui-button{
	text-decoration: none;
	color: #2C3E50;
	border-radius: 19px;
	padding: 5px 20px;
}
.ui-button--contained{
	background: #2C3E50;
	width: 100%;
	height: 38px;
	color: #ebebeb;
	text-decoration: none;
	text-align: center;
}
.ui-button--bordered{
	background: transparent;
	border-color: #2C3E50;
	height: 38px;
	color: #2C3E50;
}
label{
	color: #2C3E50;
	font-size: 14px;
}
input{
	border-radius: 4px;
	border-style: solid;
	border-color: #2C3E50;
	border-width: 1px;
	width: 100%;
	height: 38px;
}